$cream: #f0ead2;
$grass-green: #669900;
$light-brown: #a67c52;


.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: $light-brown 5px;
    border-style: solid;
    border-radius: 20px;
    background-color: $cream;
    opacity: 90%;
    padding: 15px;
    text-align: left;
    max-width: 800px;
    align-items: center;
}

p {
    margin-top: 0;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Sniglet';
}

.center-text {
    text-align: center;
}

.title-text {
    font-family: 'Sniglet';
    font-size: 32px;
    text-align: left;
    padding-bottom: 0;
    margin: 0;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.indented-text {
    text-indent: 35px;
}

@media (max-width: 480px) {

    .text-box {
        position: relative;
        margin-top: 105px;
        margin-bottom: 0;
        // left: 50%;
        transform: translate(-50%, -1%);
        border: $light-brown 5px;
        border-style: solid;
        border-radius: 20px;
        background-color: $cream;
        opacity: 90%;
        padding: 5px;
        text-align: left;
        max-width: 400px;
        max-height: 900px;
    }
    
    p {
        margin-top: 0;
        margin-bottom: 10px;
        padding-left: 0;
        padding-right: 0;
        font-family: 'Sniglet';
        // font-size: 1.7rem;
    }
    
    .center-text {
        text-align: center;
    }
    
    .title-text {
        font-family: 'Sniglet';
        font-size: 20px;
        text-align: left;
        padding-bottom: 0;
        margin: 0;
        margin-bottom: 0;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .indented-text {
        text-indent: 15px;
    }
   
    }
