.graph-mood {
    display: flex;
    position: relative;
    top: 30px;
}
.graph-mood {
    flex-direction: row;

}

@media screen and (max-width: 1100px) {
    .graph-mood {
        flex-direction: column
    }
}

// @media screen and (min-width: 1100px) {
//     .graph-mood {
//         flex-direction: row
//     }
// }