// HOMEPAGE STYLES

.homepage {
    width: 100vw;;
    font-family: "Sniglet", system-ui;
    font-weight: 400;
    font-style: normal;
    text-shadow:-4px 4px 20px #808080, 2px 2px 20px white, -4px -4px 20px white;
    color:black;
  
    > h1, h1 > a{
      font-family: "Sniglet", system-ui;
      font-weight: 800;    
      font-size:120px;
      margin:0;
      text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
      color:white;
      text-decoration: none;
    }
    h3{
  
      font-weight: 400;
      font-style: normal;
    }

    @media (max-width: 600px) {


      // body {
      //   min-width: 600px !important;
      //   display: flex;
      //   --r-globalnav-height: 48px;
      //   width: auto!important;
      //   overflow-x: hidden!important;
      //   overflow-y: scroll; /* has to be scroll, not auto */
      //   -webkit-overflow-scrolling: touch;
      //   // flex-direction: column;
      //   align-items: safe;
      // }

      .logoContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 600px;
      //   margin-left: 50vw;
      //   margin: 0 auto;
      //   margin-top: 5vh;
      }

      // .btn {
        // padding-right: 1px;
      //   text-decoration: none;
      //   display: inline-block;
      //   margin-left: 5%;
      //   align-items: ;
      //   margin-left: 10vw;
      //   margin-right: 1px;
      //   margin-left: 50vw;
      // }

      .btn-container {
        display: flex;
        // flex-direction: column;
        justify-content: space-between;
        margin-top: 30px;
      //   padding: 20px 3%;
      //   margin: 0 auto;
      //   margin-left: 50vw; 
      }
      

    }

    @media(max-width: 480px) {
      > h1, h1 > a { 
        font-size: 15vw;
      }
    }

  }

  .not-homepage{
    padding:20px 3%;
    font-family: "Sniglet", system-ui;
    font-weight: 400;
    font-style: normal;
    text-shadow:-4px 4px 20px #808080, 2px 2px 20px white, -4px -4px 20px white;
    // color:black;
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    position:absolute;
    top:0;
    left:0;
    right:0;
    flex-wrap:wrap;
  
     h1, h1 > a{
      font-family: "Sniglet", system-ui;
      font-weight: 800;    
      font-size:70px;
      margin:0;
      text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
      color:white;
      text-decoration: none;
    }
     h3{
      margin:0;
      font-weight: 400;
      font-style: normal;
    }

    .logoContainer{
      display:flex;
      flex-direction: column;
      align-items: start;
    }

    .btn {
      flex: 1;
      display: inline-block;
      margin-left: auto;
      text-decoration: none;
    }

    @media (max-width: 600px) {


      // body {
      //   min-width: 600px !important;
      //   display: flex;
      //   --r-globalnav-height: 48px;
      //   width: auto!important;
      //   overflow-x: hidden!important;
      //   overflow-y: scroll; /* has to be scroll, not auto */
      //   -webkit-overflow-scrolling: touch;
      //   // flex-direction: column;
      //   align-items: safe;
      // }

      .logoContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 600px;
      //   margin-left: 50vw;
      //   margin: 0 auto;
      //   margin-top: 5vh;
      }

      // .btn {
        // padding-right: 1px;
      //   text-decoration: none;
      //   display: inline-block;
      //   margin-left: 5%;
      //   align-items: ;
      //   margin-left: 10vw;
      //   margin-right: 1px;
      //   margin-left: 50vw;
      // }

      .btn-container {
        display: flex;
        // flex-direction: column;
        justify-content: space-evenly;
        margin-top: 30px;
      //   padding: 20px 3%;
      //   margin: 0 auto;
      //   margin-left: 50vw; 
      }
      

    }

    @media(max-width: 480px) {
      > h1, h1 > a { 
        font-size: 15vw;
      }
    }
  }
  
  
  @keyframes moveRight {
    0% { transform: translateX(-100px); }
    100% { transform: translateX(100%); }
  }
  


