// HOMEPAGE STYLES

.homepage {
    font-family: "Sniglet", system-ui;
    font-weight: 400;
    font-style: normal;
    text-shadow:-4px 4px 20px #808080, 2px 2px 20px white, -4px -4px 20px white;
    color:black;
  
    > h1, h1 > a{
      font-family: "Sniglet", system-ui;
      font-weight: 800;    
      font-size:120px;
      margin:0;
      text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
      color:white;
      text-decoration: none;
    }
    h3{
  
      font-weight: 400;
      font-style: normal;
    }

    @media only screen and (max-device-width: 480px) {
      // body {
      //   float: none;
      //   width: 100%;
      // }

      // > h1, h1 > a {
      //   font-size: 15vw;
      // }

      // .btn {
      //   display: block;
      //   width: 100%;
      //   margin-bottom: 10px;
      // }

      // .logoContainer {
      //   padding: 10px;
      // }

      // h3 {
      //   font-size: 4vw;
      // }
    }
  }

  .not-homepage{
    padding:20px 3%;
    font-family: "Sniglet", system-ui;
    font-weight: 400;
    font-style: normal;
    text-shadow:-4px 4px 20px #808080, 2px 2px 20px white, -4px -4px 20px white;
    // color:black;
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    position:absolute;
    top:0;
    left:0;
    right:0;
    flex-wrap:wrap;
  
     h1, h1 > a{
      font-family: "Sniglet", system-ui;
      font-weight: 800;    
      font-size:70px;
      margin:0;
      text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
      color:white;
      text-decoration: none;
    }
     h3{
      margin:0;
      font-weight: 400;
      font-style: normal;
    }

    .logoContainer{
      display:flex;
      flex-direction: column;
      align-items: start;
    }

    .btn {
      display: inline-block;
      margin-left: auto;
      text-decoration: none;
    }

    @media only screen and (max-width: 600px) {
      body {
        min-width: 320px;
        // display: flex;
        // --r-globalnav-height: 48px;
        // width: auto!important;
        // overflow-x: hidden!important;
        // overflow-y: scroll; /* has to be scroll, not auto */
        // -webkit-overflow-scrolling: touch;
        // // flex-direction: column;
        // align-items: safe;
      }

      .logoContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 20vw;
        margin-top: 5vh;
      }

      .btn {
        text-decoration: none;
        // display: inline-flex;
        // margin-left: 5%;
        // align-items: ;
        // margin-left: 10vw;
        // margin-right: 1px;
        // margin-left: 40vw;
      }

      .btn-container {
        margin-left: 27%;
        margin-right: -25%;
      }

    }

    @media(max-width: 480px) {
      > h1, h1 > a { 
        font-size: 15vw;
      }
    }
  }
  
  
  @keyframes moveRight {
    0% { transform: translateX(-100px); }
    100% { transform: translateX(100%); }
  }
  


