.journalEntryCard {
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;
  max-width: 1000px;
  background-color: #f0ead2;
  // overflow:hidden;
  height: fit-content;

  .DraftEditor-root{
    height:fit-content;
    padding:0;
    z-index:0;
  }
  
  .hideEntry{
    height:fit-content;
    max-height:50px;
    overflow:hidden;
  }

}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(20px);
  z-index: 3;
}

.editEntryModal{
  position:fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index:5;
  margin:auto;
  overflow-y:auto;
  overflow-x:clip;
  max-height:90%;

  .DraftEditor-root{
    min-height:fit-content;
    max-height:300px;
    padding:0;
    z-index:0;
  }
}

/* TruncateText.css */
.truncate {
  white-space: nowrap; /* Prevent text from wrapping to a new line */
  overflow: hidden; /* Hide overflowed text */
  text-overflow: ellipsis; /* Add ellipsis to overflowed text */
  width: 100%;
}
.entry-container {
  max-height: 700px;
  overflow-y: auto;
  overflow-x: clip;
  box-sizing: border-box; /* Include padding and margin in the element's width calculation */
  padding:10px;
}

.promptEntryBox {
  width: 100%;
  p {
    width: inherit;
  }
  // background:black;
  // height:10px;
  overflow: hidden;
}

#root {
  flex: 1;
}
