header nav a {
    color: #eee;
  }
  
  header nav a:not(:last-child), 
  header nav p {
    margin-right: 17px;
  }
  
  header nav a:hover,
  header nav a.active {
    text-decoration: underline;
  }
  
  header nav button.nav-btn {
    background: none;
    border: 2px solid #eee;
    padding: 5px 10px 6px;
    transition: all .3s;
    margin-left: 12px;
  }
  
  header nav button.nav-btn:hover {
    background: #eee;
    color: #444;
  }
  
  
  header nav button.nav-btn.create {
    background: #23ba5c;
    color: #fff;
    border-color: transparent;
  }
  
  header nav button.nav-btn.create:hover {
    background: #21ac58;
  }