$white-smoke: #f5f5f5;
$black: #000000;
$gray: #808080;
$light-brown: #a67c52;
$grass-green: #669900;
$buttercream-yellow: #f2e085;
$cream: #f0ead2;

:root {
  font-family: "Sniglet", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  // font-family:  system-ui;

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: rgba(255, 255, 255, 0.87);
  color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --white-smoke: #f5f5f5;
  --black: #000000;
  --gray: #808080;
  --light-brown: #a67c52;
  --grass-green: #669900;
  --buttercream-yellow: #f2e085;
}

// a {
//   font-weight: 500;
//   color: #646cff;
//   text-decoration: inherit;
// }

// a:hover {
//   color: #535bf2;
// }

body {
  margin: 0;
  display: flex;
  place-items: center;
  // min-width: 320px;
  min-height: 100vh;
  height:100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button,
.btn {
  border-radius: 16px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #a67c52;
  text-decoration: none;
  cursor: pointer;
  transition: border-color 0.25s;
  color: $white-smoke;
  margin: 0px 10px;
  text-shadow: -4px 4px 20px $gray;
  height:min-content;
}

.footStyle {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}



button:hover,
.btn:hover {
  box-shadow: -4px 4px 10px $gray, 4px -4px 20px $white-smoke,
    4px -4px 10px $gray, -4px 4px 20px $white-smoke;
  transition: 0.2s ease-out;
  color: $white-smoke;
}



// @media screen and (max-width: 480px) {
//   footer {
//     width: 100%;
//     flex-direction: inherit;
//     .feedback{
//       padding: 0px;
//       margin-right: 125px;
//       position: absolute;
//       justify-content: center;
//     }

//   }
// }
// GENERAL STYLES

.np{
  pointer-events:none;
}




// @media screen and (max-width: 520px) {
//   footer {
//     width: 100%;

//     .feedback {
//       // margin-right: 125px;
//       position: absolute;
//       justify-content: center;

//       a {
//         text-decoration: none;
//       }

//       &:hover {
//         text-decoration: underline;
//       }
//     }

//   }
// }

.modak-regular {
  font-family: "Modak", system-ui;
  font-weight: 400;
  font-style: normal;
}

.active {
  text-decoration: underline;
  background-color: $cream;
  color: black;
  border: $light-brown 3px solid;

}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: $cream;
  }

  // a:hover {
  //   color: #747bff;
  // }

  button {
    background-color: #f9f9f9;
  }
}

// GENERAL

// the mj-title will change
.mj-text {
  font-family: "Sniglet", system-ui;
  font-style: normal;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
  color: white;
}

.cow-pattern-image {
  width: 50%;
  /* Each image takes up half of the container width */
  height: 100%;
  object-fit: cover;
  /* Ensure the image covers the area without distortion */
  filter: blur(16px);
}

.cow-pattern-backdrop {
  display: flex;
  width: 200%;
  /* 100% for each image */
  height: 100vh;
  /* Full viewport height */
  position: absolute;
  /* Position it over the entire page */
  top: 0;
  left: 0;
  animation: slide 120s linear infinite;
  /* Adjust speed as necessary */
  overflow: hidden;
  z-index: -1000;
  opacity: 65%;
}

// Admin

.adminControl {
  position: absolute;
  top: 0;
  left: 10px;
  z-index: 100;
  font-family: "Sniglet", system-ui;

  p {
    font-size: 24px;
    margin: 0;
  }

  button {
    padding: 5px;
  }
}

// AuthForm controls for input fields
.authform {
  background: rgb(173, 193, 120);
  border-radius: 20px;
  min-width: 600px;
  margin: auto;
  margin: auto;
  min-height: 300px;
  padding: 40px 40px 30px;
  color: white;
  color: white;
  font-family: "Sniglet", system-ui;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;


  input {
    margin-bottom: 10px;
    width: 100%;
    height: 30px;
    padding: 25px 15px;
    align-items: center;
    background: #f0ead2;
    color: #a67c52;
    border-radius: 5px;
    outline: none;
    border: none;
  }

}


.backgroundStyles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../assets/Green-grass-clipart-free-pictures.png');
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  filter: blur(3px);
  z-index: -1;
}

.contributeList {
  display: flex;
  margin-top: 50px;
  margin-bottom: 10px;
  flex-direction: colum;
}

.contentStyles {
  width: 100vw;;
  display: flex;
  margin: 0 auto;
  align-items: center;
  flex-direction: column;
  margin-top: 45px;
}

.contributorStyles {
  list-style-type: none;
  line-height: 1;
  font-size: 12px;
  color: black;
  display: flex;
  margin: 0 10px;
  // marginTop: '110px'
  flex-direction: column;
}

.iconStyles {
  width: 15px;
  height: 15px;
  margin-left: 5px;
}



@media only screen and (max-width: 600px) {
  body {
    min-width: 320px;
    // display: flex;
    // --r-globalnav-height: 48px;
    // width: auto!important;
    // overflow-x: hidden!important;
    // overflow-y: scroll; /* has to be scroll, not auto */
    // -webkit-overflow-scrolling: touch;
    // // flex-direction: column;
    // align-items: safe;
  }

  footer {
    // margin-top: 40px;
    // position: unset;
    // bottom: auto;
    // left: 0;
    // right: 0;
    // // background:#669900;
    // height: 300px;
  
    // .icons {
    //   display: flex;
    //   flex-direction: row;
    //   justify-content: center;
    // }

   
  
  
    // .feedback {
    //   // position: absolute;
    //   right: 70px;
    //   color: black;
    //   margin-bottom: 10px;
  
    //   // background:#669900; // nice
    //   // height: 140px;
    //   justify-content: center;
    // }
  
    // p {
    //   position: absolute;
    //   margin: auto;
    //   padding: 0;
    //   font-size: 0.8rem;
    //   left: 0;
    //   right: 0;
    //   bottom: 0;
    // }
  }

  // footer {
  //   height: 100px;
  //   // padding: 10px; /* Adjust padding as needed */
  //   top: auto;
  //   bottom: -50vh;

  //   .feedback {
  //     padding: 10px;
  //     margin-right: 0;
  //   }

  //   p {
  //     position: static;
  //     margin: 10px 0;
  //     /* Adjust margin as needed */
  //     text-align: center;
  //   }
  // }

  .authform {
    background: rgb(173, 193, 120);
    border-radius: 20px;
    min-width: 300px;
    // margin: 10vw;
    margin-top: 10vh;
    // margin: auto;
    min-height: 300px;
    padding: 40px 40px 30px;
    color: white;
    color: white;
    font-family: "Sniglet", system-ui;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  }

  // .authform {
  //   min-width: max-content;
  //   width: 100%;
  //   margin: 35vw;
  //   padding: 20px;
  // }

  .cow-pattern-image {
    // width: 100%;
    width: 50%;
    height: 100%;
    object-fit: cover;
    filter: blur(16px);

  }

  .cow-pattern-backdrop {
    // width: 100%;
    display: flex;
    width: 200%;
    /* 100% for each image */
    height: 100vh;
    /* Full viewport height */
    position: absolute;
    /* Position it over the entire page */
    top: 0;
    left: 0;
    animation: slide 120s linear infinite;
    /* Adjust speed as necessary */
    overflow: hidden;
    z-index: -1000;
  }

  .about {
    min-width: auto;
    width: 100%;
    margin: 20vw;
    margin-top: 30vh;
    padding: 20px;

    p {
      text-align: justify;
    }
  }

  .adminControl {
    position: static;
    margin: 10px;
    text-align: center;
  }

  h1 {
    font-size: 2em;
  }


}

/* For WebKit browsers */
::-webkit-scrollbar {
  width: 12px;
  // margin-right:20px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}


@media(max-width:480px) {

  * {
    box-sizing: border-box;
  }

//   #root{
//     padding:10px;
//   }

//   .authform {
//     display: block;
//     margin-block-start: 1em;
//     margin-block-end: 1em;
//     margin-inline-start: 0px;
//     margin-inline-end: 0px;
//     padding: 20px;
//     min-width: 375px;
//   }

  button:hover,
.btn:hover {
  box-shadow: -1px 1px 5px $gray, 1px -1px 10px $white-smoke,
    1px -1px 5px $gray, -1px 1px 10px $white-smoke;
  transition: 0.2s ease-out;
  color: $white-smoke;
}
}

// this is a random comment